body {
    background-color: $primary;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    letter-spacing: .05em;
}

header {
    &[id^="add-frame-scores"] {
        background-color: $primary;
        color: $white;
    }

    button {
        color: $white;
    }
}

fieldset {
    &.ball-inputs {
        &.form-group {
            border-top: 1px dashed #ccc;
            margin-top: 1em;
            padding-top: 1em;
        
            > *[role^="group"] {
                display: flex;
        
                > .form-group {
                    input {
                        width: 5em;
                    }
        
                    &:not(:first-of-type) {
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}